<header class="navbar navbar-fixed-top navbar-inverse ">
<div class="navbar-inner">
<%#setTimeout ("location.reload ();", 10000);
%>
<div class="container">

<%= link_to "Delor",'#' , id: "delor"%>
<nav>
<ul class="nav pull-right">
<div class="btn-group">
  <button class="btn"><%= link_to "Sign in", '#' %></button>
 
</div>
              <li><%= link_to "",    '#' %></li>
              <li><%= link_to "",    '#' %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>

</nav>

</div>
</div>
</header>