<!DOCTYPE html>
<html>
<head>
  <title>Delor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar-wrapper">
              <div class="container">
              <%= render 'layouts/header' %>
          <div class="center hero-unit">
 
         <%= yield %>
         <footer class="footer">
	      <small>qwe</small>
	      <nav>
         <ul>
         <li><%= link_to "1",   '#' %></li>
         <li><%= link_to "2", '#' %></li>
      
    </ul>
  </nav>
</footer>
</div>
</div>
</body>
</html>
